body {
  margin: 0em;
  font-family: Metropolis Regular;
  color: #ffffff;
  background-color: #17171d;
}

h1 {
  font-size: 3em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  color: #ffffff;
  font-family: Metropolis Semi Bold;
}

h2 {
  font-family: Metropolis Semi Bold;
}

h4 {
  margin-block-start: 0.3em;
  margin-block-end: 0em;
  font-family: Metropolis Semi Bold;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 15px; /* 5px rounded corners */
  padding: 15px;
}

.vertical-center {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 5px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

h2 {
  margin-block-start: 0em;
}

.card:hover {
  transform: scale(1.03);
}

.sidenav {
  width: 200px;
  height: 100%;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgba(238, 35, 55, 1);
  overflow-x: hidden; /* Disable horizontal scroll */
  text-align: center;
}

.button:hover {
  transform: scale(1.03);
}

.button {
  background-color: #ffffff00;
  border: 1px solid #ffffff;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 9px 2px;
  width: 65%;
  border-radius: 20px;
  cursor: pointer;
}

p {
  word-wrap: break-word;
}
